/*
* @Author: hxp_warriors9812
* @Date:   2020-6-14 
* @Last Modified by:  hxp_warriors9812
*/
@charset "utf-8";
/*设置整体的全局布局设计-规定两个并排的带边框的框，实现左右两个部分*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

/*设置整体的背景及字体样式*/
body {
    background: url("http://p2.qhimg.com/bdr/__85/t018af1961351b137ec.jpg") no-repeat center center/cover;
    font-family: sans-serif, Microsoft Yahei, Helvetica Neue;
    zoom: 80%;/*简历部分的整体占比率*/
}

/*设置p标签所占行高*/
p {
    line-height: 1.5;
}

/*定义超链接的样式*/
a {
    text-decoration:none;
    color: #607d8b;/*定义超链接的显示颜色*/
}

/*定义当鼠标悬浮在链接内容之上时，链接内容的样式*/
a:hover{
    color: ghostwhite;
}

/*设置progress进度标签的颜色以及长度条高度*/
progress {
    background-color: #f6f6f6;/*选定一个协调的浅蓝色*/
    display: inline;
    height: 1em;
}

/*设定css伪元素更好的显示技能条，但是并不确定这样使用是否规范，只是起到一个美化的作用*/
progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}
progress::-webkit-progress-value {
    background-color: #708d9b;
}
progress::-moz-progress-bar {
    background-color: #e0eaf0;
}
progress::-moz-progress-value {
    background-color: #708d9b;
}

/*设定为行内块元素的表现形式*/
span {
    display: inline-block;
}

/*设定各级标题的字体样式*/
h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #607d8b;
    line-height: 1.5;
}

/*设定技能进度的列表样式*/
.progress-list {
    line-height: 2;
}
.progress-list div {
    width: 100%;
    margin-left: 200px;
}

/*设定个人信息、技能进度的列表样式-合并去除冗余*/
.info-list, .progress-list{
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
    line-height: 2;
}

/*设定研究方向的列表样式*/
.stack-list {
    list-style: none;
    padding-left: 0px;
    line-height: 1.5;
}
.stack-list li {
    margin-bottom: 12px;
}

/*设定分隔标签间距*/
hr {
    margin-bottom: 8px;
}

/*设定整体的各个模块样式*/
.info-unit {
    color: #666;
    margin-bottom: 20px;
}

/*设定侧边栏第一部分样式*/
.me {
    text-align: center;
    margin-bottom: 20px;
}

/*设定每一个侧边栏label的样式*/
.left-label {
    display: inline-block;
    width: 120px;
	font:italic 1em Georgia, serif;
}

/*设定头像框部分的样式*/
.portrait {
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 10px;
    background-size: 120%;
    background-position:center;
    border-radius:50%;/*设定圆角边框*/
    border:5px solid #607d8b;/*设定边框的粗细及颜色*/
    width:160px;
    height:160px;
}

/*设置全局container的样式*/
.container {
    position: relative;
    margin: 0 auto;/*居中显示*/
    width: 1050px;
    height: 1400px;
    background-color: white;
}

/*设置全局侧边栏的样式*/
.side {
    position: absolute;
    width: 360px;
    height: 100%;
    background-color: whitesmoke;
	/*为了美观进行左右填充*/
    padding-left: 20px;
    padding-right: 20px;
}

/*设定主体部分的样式*/
.main {
    position: relative;;
    margin-left: 360px;
    min-height: 100%;
    padding: 20px;
}

/*设置每一节的标题栏的样式*/
.info-header:hover {
    background-color: #d4dee4;
}
.info-unit ul li:hover {
    background-color: #d4dee4;
}

.info-header .unit-remove {
    float: right;/*设定悬停方向*/
    margin-left: 20px;
    visibility: hidden;/*规定元素不可见，不影响外观*/
    cursor: pointer;/*设定光标显示效果*/
}

.info-header .item-add {
    float: right;/*设定悬停方向*/
    margin-left: 20px;
    margin-right: 2px;
    visibility: hidden;/*规定元素不可见，不影响外观*/
    cursor: pointer;/*设定光标显示效果*/
}

 .item-remove {
    position: absolute;
    right: 2px;
    margin-right: 2px;
    visibility: hidden;
    cursor: pointer;
}

/*设定无序列标签的样式*/
ul li{
    position: relative;
}

/*设定个人经历栏的样式*/
 .experience-list .item-remove {
    position: absolute;
    right: 2px;
    top: 0px;
    margin-right: 2px;
    visibility: hidden;
    cursor: pointer;
}

/*设定个人技能栏的样式*/
 .stack-list .item-remove {
    position: absolute;
    right: 2px;
    top: 0px;
    margin-right: 2px;
    visibility: hidden;
    cursor: pointer;
}

/*美化英文字体的显示*/
h1 {
	font:italic 2em Georgia, serif;
}
.label-value {
	font:italic 1em Georgia, serif;
}
.info-header {
	font:italic 1.5em Georgia, serif;
}


